
.main-div{
     
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        top: 90px;

      
   
}
.input-div{
    height: 200px;
    width: 50%;
    border: 1px solid white;
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 70px;
  
    
}
.input-div input{
    height: 25px;
    width: 160px;
    padding: 5px;
}
.btn{
    width: 150px;
    height: 40px;
    
    border: 2px solid rgb(82, 6, 6);
    background-color: darkgrey;
    color: rgb(235, 9, 9);
}
